@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl sm:text-5xl lg:text-6xl;
        font-weight: 700 ;
    }
    h2 {
        @apply text-xl;
        font-weight: 700;
    }

    body {
        font-family: 'Roboto', sans-serif;
        background-color: #F6F6F9;
        color: #222831;
    }
}
